# ── Devcontainer ────────────────────────────────────────────
DOCKER_IMAGE_NAME=devcontainer-ai-cli
DOCKER_IMAGE_TAG=0.7
# ── Project ─────────────────────────────────────────────────
# Precisa especificar para que coincida com o workspaceFolder do devcontainer.json
CONTAINER_NAME=devcontainer-ai-cli
PROJECT_FOLDER=/code/pessoal/devcontainer-ai-cli
# ── UID/GID do usuário ──────────────────────────────────────
HOST_UID=1000
HOST_GID=1000
# ── Git ─────────────────────────────────────────────────────
GIT_USERNAME=scarlosfreitas
GIT_EMAIL=scarlosfreitas@gmail.com
GIT_NAME="Carlos Freitas"
GIT_TOKKEN=ghp_token